<!-- 
<div class="card-header">
    <div class="card gap-card">
     <div class="card-body">
        <div class="content-card">
        <h1>Halo Selamat (Waktu), (User)</h1>
        <div class="day-content">
            Sekarang . . .
        </div>
        </div>

     </div>
    </div>
</div>   -->

<p-card>
    <div class="content-card">
        <div>
            <div class="header-top">
        Selamat Bekerja Kembali
        </div>
            Semangat dan Selamat Bekerja untuk hari ini
            <div class="d-flex gap-5 mt-4 justify-content-between">
                <div class=" icon pi pi-user">
                    <div class="d-grid font-karyawan">
                        Karyawan
                        <span>10 dari 100 Karyawan</span>
                    </div>
                </div>
                <div class="icon pi pi-user">
                  
                    <div class="d-grid font-karyawan">
                        Karyawan Aktif
                        <span>10 dari 100 Karyawan</span>
                    </div>
                </div>

            </div>
        </div>
       <div>
        <img src="../../../assets/image/4557388.jpg" width="290" height="190" alt="">
       </div>
        
    </div>
</p-card>
<div class="">


    <!-- <div class="main-content">
         <div class="d-flex gap-5">
            <p-card class="cards-content">
        
            </p-card>
            <p-card class="cards-content">
        
            </p-card>
        
        
        </div>
    </div> -->

    <div class="side-content d-flex">
        <p-card class="cards-content-donuts">
            <p-chart type="doughnut" width="300" height="300" [data]="data" [options]="options"></p-chart>
        </p-card>
        <p-card class="cards-content-user">
            
        </p-card>
    </div>
</div>
