<!-- 
<div class="card-header">
    <div class="card gap-card">
     <div class="card-body">
        <div class="content-card">
        <h1>Halo Selamat (Waktu), (User)</h1>
        <div class="day-content">
            Sekarang . . .
        </div>
        </div>

     </div>
    </div>
</div>   -->

<p-card>
    <div class="content-card">
        <div>
            <div class="header-top">
        Halo Selamat datang dan bekerja kembali {{userName}}
        </div>
            Hari ini Selasa, 25 Juli 
            <div class="d-flex gap-5 mt-4 justify-content-between">
                <div class=" icon pi pi-user">
                    <div class="d-grid font-karyawan">
                        Karyawan
                        <span>10 dari 100 Karyawan</span>
                    </div>
                </div>
                <div class="icon pi pi-user">
                  
                    <div class="d-grid font-karyawan">
                        Karyawan Aktif
                        <span>10 dari 100 Karyawan</span>
                    </div>
                </div>

            </div>
        </div>
       <div>
        <img src="../../../assets/image/4557388.jpg" width="290" height="190" alt="">
       </div>
        
    </div>
</p-card>
<div class="">


    <!-- <div class="main-content">
         <div class="d-flex gap-5">
            <p-card class="cards-content">
        
            </p-card>
            <p-card class="cards-content">
        
            </p-card>
        
        
        </div>
    </div> -->

    <div class="side-content d-flex">
        <p-card class="cards-content-donuts">
            <p-chart type="doughnut" width="300" height="300" [data]="data" [options]="options"></p-chart>
        </p-card>
        <p-card class="cards-content-user">
            <div class="imploy-title">Daftar Karyawan yang Sudah Berakhir</div>
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <div style="color: var(--main-color);">Detail Content</div>
                </div>
            </p-divider>
        


              
<p-scroller [items]="items" [itemSize]="2" scrollHeight="200px" styleClass="border-1 surface-border" [style]="{'width': '400px', 'height': '200px'}">
    <ng-template pTemplate="item" let-item let-options="options">
        <div class="flex align-items-center p-2" [ngClass]="{ 'surface-ground': options.odd }" style="height: 100%; width: 100%;"><div class="card card-user">
            <div class="card-body">
             <div class="d-flex justify-content-between">
                <div class="d-grid gap-1">
                    <div></div>
                    <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
                </div>
                <div class="d-grid">
                   <div></div>
                   <div style="color: rgba(128, 128, 128, 0.692); font-size: 12px;">1234567654</div>
                </div>
                <div>
                    <div class="btn btn-detail ">detail</div>
                </div>
             </div>
             <p-divider align="center">
                <div class="btn btn-danger" style="font-size: 12px;" muted>Kontrak Sudah Berakhir</div>
            </p-divider>
            </div>
            <div>
                <div class="justify-content-between d-flex container">
                    <div class="date">
                        <span>Mulai Kontrak : </span>
                    </div>
                    <div class="date">
                        <span>Berakhir Kontrak : </span>
                    </div>
                </div>
            </div>
          </div></div>
    </ng-template>
</p-scroller>
              
        </p-card>
        
    </div>
</div>
<footer>
    <div class="container">
      <p>&copy; 2023 Harga DIRI. Hak Cipta Dilindungi.</p>
    </div>
</footer>