.header2{
    margin-top: 5px;
    font-size: 15px;
    color: grayscale($color: #818181);
}
::ng-deep .p-card{
    margin-top: 15px;
}
.card-jabatan{
    border: none;
    height: 10vh;
}
::ng-deep .p-button{
        background-color: var(--main-color);
        color: white;
        margin-bottom: 20px;
}
.flex-jabatan{
    justify-content: space-between;
}
::ng-deep .p-breadcrumb{
    margin-top: 5px;
}  
.input-jabatan{
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        flex: none;
}
.tambah-data-j{
background-color: var(--main-color);
}
.btn-submit {
    position: absolute;
    bottom: 0;
    right: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
}
::ng-deep .p-dropdown{
    width: 80vh;
}
.c-1{
    margin-left: 5px;
}
.checkbox{
    margin-top: 5px;
}

  
  
