<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-card>
    <div class="d-flex flex-jabatan">
    <div></div>
    <div>
        <p-button class="" (click)="showDialog()" label="Tambah Data"></p-button>
        <p-dialog class="header" header="Form Tambah Data"[(visible)]="visible" [modal]="true" [style]="{ width: '40vw', height:'30vw'}"[draggable]="false" [resizable]="false" styleClass="blue-header">
            <label htmlFor="jabatan">Pilih Jabatan :</label>
         <div class="input-jabatan">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>   
        </div>   
            <label htmlFor="jabatan">Pekerjaan :</label>
         <div class="input-jabatan">
        <p-dropdown class="d-jabatan custom-dropdown" [options]="jabatan" [(ngModel)]="selectedJabatan" optionLabel="name"></p-dropdown>   
        </div>   
            <label htmlFor="input-jabatan">Salary :</label>    
            <div class="checkbox">     
                <p-radioButton name="pizza" value="Hide" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
                <label for="ingredient1" class="ml-2">Hide</label>
                <p-radioButton class="c-1" name="pizza" value="Show" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
                <label for="ingredient2" class="ml-2">Show</label>
        </div>  
        <div>
            <p-button type="button" (click)="show()" label="Submit" class="btn-submit"></p-button>
        </div>
                </p-dialog>
                <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
            </div> 
        </div>
<p-table class="table"[tableStyle]="{ 'min-width': '60rem' }" [paginator]="true" [rowsPerPageOptions]="[15, 25, 50, 100, 250, 500]"
[scrollable]="true"
[rows]="15" [resizableColumns]="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">
             <div class="flex align-item-center">  
                No
            </div> 
            </th>
            <th style="min-width:18rem">
            <div class="flex align-item-center">
                Jabatan
            </div>
            </th>
            <th style="min-width:18rem">
            <div class="flex align-item-center">
                Pekerjaan
            </div>
            </th>
            <th style="min-width:10rem">
            <div class="flex align-item-center">
                Aksi
            </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.no }}</td>
            <td>{{ product.jabatan }}</td>
            <td>{{ product.pekerjaan }}</td>
        </tr>
    </ng-template>
</p-table>
</p-card>