<div class="card">
    <div class="input-text">
        <span class="container">

        

            <label htmlFor="username">Username</label>
            <input pInputText id="username" type="email" class="form-control">
        </span> 
        <p-card>
            <p-table  [value]="karyawan"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No</th>
                        <th>Profile</th>
                        <th>Nama Karyawan</th>
                        <th>Masa Kontrak</th>
                        <th>Jabatan</th>
                        <th>Status</th>
                        <th>Group</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"  let-karyawan>
                    <tr>
                        <td>{{karyawan.id}}</td>
                        <td>{{karyawan.foto}}</td>
                        <td>{{karyawan.name}}</td>
                        <td>{{karyawan.masa_kontrak}}</td>
                        <td>{{karyawan.jabatan}}</td>
                        <td>{{karyawan.status}}</td>
                        <td>{{karyawan.group}}</td>
                    </tr>
                </ng-template>
            </p-table>
            </p-card>
            
    </div>
</div>

