<div class="card">
    <div class="input-text">
     <p-card>
        
<div class="">
    <p-table
        #dt1
        [value]="karyawan"
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 15, 50]"
        [paginator]="true"
        
        selectionMode="single"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
     
        >
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-end mb-2">
                <div class="add-button">
                <p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [ngStyle]="{background:'var(--main-color)'}" [draggable]="false" [resizable]="false">
                 <p-header >
                    Karyawan
                 </p-header>
                        
                </p-dialog>
                </div>
            </div>
            <div class="flex">
                <div class="d-flex justify-content-between">
                <div class="">
                    <!-- Kiri karywan -->
                </div>
                <div class="d-flex gap-3">

                <div class="search-field">
                    <i class="pi pi-search"></i>
                    <input  type="text" pInputText placeholder="Cari Karyawan"  />
                </div>
            </div>
        </div>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:1rem">
                    <div class="flex align-items-center">
                        No
                    </div>
                </th>
                <th style="min-width:5rem">
                    <div class="flex align-items-center">
                        Foto
                    </div>
                </th>
                <th style="min-width:8rem">
                    <div class="flex align-items-center">
                        Karyawan
                    </div>
                </th>
                <th style="min-width:8rem">
                    <div class="flex align-items-center">
                        Masa Kontrak
                    </div>
                </th>
                <th style="min-width:8rem">
                    <div class="flex align-items-center">
                        Jabatan
                    </div>
                </th>
                <th style="min-width:8rem">
                    <div class="flex align-items-center">
                        Status
                    </div>
                </th>
                <th style="min-width:8rem">
                    <div class="flex align-items-center">
                        Group
                    </div>
                </th>
                <th style="min-width:8rem">
                    <div class="flex align-items-center">
                        Actions
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" [pSelectableRow]="karyawan" let-karyawan let-rowIndex="rowIndex" >
            <tr>
                <td>
                    {{rowIndex}}
                </td>
                <td>
                    <img src="{{karyawan.url}}" class="rounded-5" alt="Profile"  style="width: 50px" />
                </td>
                <td>
                    {{karyawan.nama}}
                </td>
                <td>
                    {{ karyawan.masakontrak }}
                </td>
                <td>
                    {{ karyawan.jabatan}}
                </td>
                <td>
                    {{ karyawan.status }}
                </td>
                <td>
                    {{ karyawan.penempatan }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">Karyawan Tidak Ditemukan.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
     </p-card>
           
            
    </div>
</div>

