<div class="">
    <div class="tengah justify-content-between d-flex">
    <div>
        <app-sidebar></app-sidebar>    
    </div>
   
    <div class="brand">
        <div class="center" routerLink="/HexaHr">
            Hexa<span>HR</span>
        </div> 
    </div>
    <div class="">
    <div class="header">
        
        <ul class="navbar">
            <div class=" flex justify-content-center mx-4">
                <i class="pi pi-bell" pBadge value="2"  style="font-size: 20px; cursor: pointer;" onclick="alert('masih on proggres sabar yhc')" ></i>
            </div>
        <div ngbDropdown class="d-inline-block">
			<p-avatar image="https://i1.sndcdn.com/avatars-000023440200-orwnp2-t500x500.jpg" styleClass="mr-2" size="large" shape="circle" type="button" class="btn btn-main"  id="dropdownBasic1" ngbDropdownToggle>
            </p-avatar>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="transition: 100s ease-in;">
				<button ngbDropdownItem routerLink="profile">Profile</button>
				<button ngbDropdownItem>Setting</button>
				<button ngbDropdownItem>LogOut</button>
			</div>
        </div>
    </ul>
    
    <div class="menu" *ngIf="isMenuOpened">
    <div class="content-list">
    <div class="content">
    <div class="menu-items"><i class="pi "></i>Profile</div>
    </div>
    <div class="content">
    <div class="menu-items"><i class=""></i>Setting</div>
    </div>
  </div>
</div>
        
    </div>
</div>
</div>
</div>

