<p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">
     <div class="header-img d-flex justify-content-between">
        <div>
            <img src="../../../assets/image/HBMLOGO.png" width="70" height="70" class="" alt="">
        </div>
       
        <div class="brand mt-3">
            Hexa<span>HR</span>
        </div>
     </div>
    </ng-template>
    <ng-template pTemplate="content">
     
       
        <div class="menu-toggler" class="btn btn-main" routerLink="/hexahr-home/dashboard" (click)="toggleMenu()"><div class="d-flex gap-4"><div><i class="pi pi-home"></i></div><div>Dashboard</div></div></div>
          <div class="menu" *ngIf="isMenuOpened">
            <div class="content-list">
            <div class="content">
            <div class="menu-items"><i class=""></i>Menu</div>
            </div>
            <div class="content">
            <div class="menu-items"><i class=""></i>Menu</div>
          </div>
            <div class="content">
            <div class="menu-items"><i class=""></i>Menu</div>
        </div>
        </div>
        
     </div>
    </ng-template>
    <ng-template pTemplate="footer">Beta version v1.0.0</ng-template>
</p-sidebar>
<button (click)="sidebarVisible = true" class="btn-class pi pi-list"></button>
