.btn-class{
    background-color: #204683;
    width: 5vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    color: white;
    transition: ease 0.3s;
}
.btn-class:hover{
background-color: black;
transition: ease 0.3s;
}
.brand{
    font-size: 25px;
    font-weight: 700;
    color: #204683;
}
span{
    color: rgb(255, 0, 0);
}
.menu-toggler .d-flex {
    justify-content: flex-end;
}
  
  .menu-toggler .d-flex .upside-down {
    order: 1;
  }

.side{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    
}

.content:hover{
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.384);
}
.content-list{
    padding: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 10px;
    border-radius: 2px 2px 0px 0px;
    height: 100%;
    background-color: #F5F5F5;   
}
.content .menu-toggler{
    padding: 15px;
    cursor: pointer;
    color: white;
}

.menu .menu-items{
    color: var(--main-color);
    padding: 5px;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
} 

.menu .menu-items:hover{
    color: white;
    background: var(--main-color);
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.btn-main{
    width: 100%;
    color: var(--main-color);
}
.btn-main:hover{
    width: 100%;
    background: #1B3A6F;
    color: white;
}

.wrap-toggler .upside-down{
    line-height: 10px;
    margin-left: 87px;
    margin-top: 5px;
}

h6{
    color: var(--main-color);
}

span{
    color: rgb(255, 0, 0);
    font-weight: 100px;
}

