<section class="">
  <p-tabView>
      <p-tabPanel header="Account Setting" >
        <div class="sdibear-left" >
         
          <div class="Account-Detail d-flex align-items-center">
            <div class="header-user">
              <img src="{{userPpKaryawans}}" alt="">
              <p>{{userName}}</p>
            </div>
            <div class="button-open-modal">
              <div class="form-wrapper d-flex gap-5">
                <div class="form-group">
                    <label for="">Display Name :</label>
                    {{userName}}
                  </div>
                  <div class="form-group">
                    <label for="">Email :</label>
                    <p>{{userEmail}}  </p>
                  </div>
                  <div class="form-group">
                    <label for="">Phone Number :</label>
                    <p>{{userPhoneNum}}  </p>
                  </div>
                  <div class="form-group">
                    <button (click)="showDialog()" icon="pi pi-pencil" label="Edit User Profile" class="btn btn-primary" > Edit User Profile</button>
                  </div>
                </div>
            </div>
            <p-dialog header="Edit Profile" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
              <div class="Content">
                <div class="hero">  
                  <div class="Profile-Picture">
                    <h5>Your Profile Picture</h5>
                    <img src="https://static.tvtropes.org/pmwiki/pub/images/saul_goodman.jpg" alt="">
                    <label for="input-file"> Change Picture</label>
                    <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file">
                  </div>
                </div>
                
              </div>  
              <div class="form-wrapper gap-5">
                <div class="form-group">
                  <label for="">Full name :</label>
                  <input type="text" placeholder="Click to change your full name">
                </div>
                <div class="form-group">
                  <label for="">Email :</label>
                  <input type="email" placeholder="Click to change your email">
                </div>
              </div>
              <div class="form-wrapper gap-5">
                <div class="form-group">
                  <label for="">Phone Number :</label>
                  <input type="text" placeholder="Click to change your phone number">
                </div>
              </div>
              
              <div class="form-wrapper d-flex">
                <div class="form-group ">
                      <Button class="btn" style="background-color: var(--main-color);">Save</Button>
                      <Button class="btn btn-danger" style="width:90px ;">Reset</Button>
                 </div>
              </div>
            </p-dialog>
          </div>
          
          <div class="content-users">
            <label for="">Bio</label>    
             
          <div class="card w-100 container" style="height: 250px; padding: auto;">
            {{userBio}}
            <div class="form-wrapper d-flex gap-5">
            <div class="form-group">
                
              </div>
            </div>
          </div>
        </div>
          

          
          
        </div>
      </p-tabPanel>
      <p-tabPanel header="Settings">
          <p>
          JKAHSJDHAJKSD  
          </p>
      </p-tabPanel>
      <p-tabPanel header="SJIOAJIDOJA">
          <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
              qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
          </p>
      </p-tabPanel>
  </p-tabView>


</section>